<!-- Contact -->
<div class="mb4">

  <h4 class="f3 b lh-title mb3 tc"></h4><a href="mailto:jorocan@gmail.com">jorocan@gmail.com</a></h4>
  <!--<form action="mailto:jorocan@gmail.com">
    <div class="flex-l mhn1-l">

      <div class="ph1-l w-50-l">
        <fieldset>
          <input type="text" id="name" name="name" placeholder="Name" class="w-100 mb2">
          <label for="name">Name</label>
        </fieldset>
      </div>

      <div class="ph1-l w-50-l">
        <fieldset>
          <input type="email" id="email" name="email" placeholder="Email" class="w-100 mb2">
          <label for="email">Email</label>
        </fieldset>
      </div>
    </div>

    <fieldset>
      <textarea id="message" name="message" placeholder="Your message" rows="8" cols="80" class="w-100"></textarea>
      <label for="message">Your message</label>
    </fieldset>

    <div class="tc">
      <button type="submit" class="btn w-100 w-auto-ns raise">Submit</button>
    </div>
  </form>-->
</div>
