{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" "/img/blog-index.jpg" "title" "Últimos Posts") }}

<div class="mw7 center">
  
  {{ $taxonomy := "tags" }} {{ with .Param $taxonomy }}
    <ul>
      {{ range $index, $tag := . }} {{ with $.Site.GetPage (printf "/%s/%s"
      $taxonomy $tag) -}}
      <li>
        <a href="{{ .Permalink }}">{{ $tag | urlize }}</a>
      </li>
      {{- end -}} {{- end -}}
    </ul>
  {{ end }}
  
  <ul id="blog-list" class="flex-ns flex-wrap mhn1-ns pa3">
      {{ range (.Paginator 4).Pages.ByPublishDate.Reverse }}
          <li class="w-50-ns ph1-ns flex">
            {{ .Render "li"}}
          </li>
      {{ end }}
  </ul>
  {{ partial "pagination" . }}
</div>

{{end}}
